* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* justify-content: center;
  justify-items: center;
  align-items: center; */
  /* max-width: 1024px; */
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(90deg, pink, white, #28782B 170%);
  /* background-image: linear-gradient(90deg, #28782B -40%, white,  pink, white, #28782B 140%); */
  /* background-color: white; */
  max-width: 64rem;
  margin: 0 auto;

  /* border: 0.1em red solid; */
}

:root {
  font-size: 62,5%;
}

header {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;

  /* border: 0.1em red solid; */
  margin: 1rem;
}

#evalogo {
  border: 0.2em #28782B solid;
  border-radius: 100%;
  filter: drop-shadow(0em 0em 0.1em #28782B);
  margin: 0.5em 0 1em 0;
}

#evalogo:hover {
  background-color: white;
  border: 0.1em solid white;
}

.tittle {
    /* filter: drop-shadow(0em 0em 0.01em #993c4c); */
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: #28782B;
    align-items: center;

    /* border: 0.1em red solid; */
}

h1 {
  padding: 0 0 0.5em 0;
}

h1:hover {
  color: #68C46C;
  cursor: default;
}

h3 {
  color: #28782B;
}

/* nav {
  position: relative;
  border: 0.1em red solid;
  margin: 1rem;
  padding: 2rem;
} */

.menu {
  position: relative;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin: 0 1em 0;
  padding: 2rem;

  /* border: 0.1em red solid; */
}


ul {
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
  color: #28782B;
  list-style: none;
  align-items: center;
  width: 100%;
  height: auto;

  position: absolute;
  top: 33%;
  left: 0;

  /* margin: 1rem; */
  /* padding: 0.3rem; */

  /* border: 0.1em red solid;     */
}

.menu a:hover {
  animation: scales 500ms ease forwards;
  color: #68C46C;
}

a {
  text-decoration: none;
  color: #28782B;
}

p {
  font-family: 'Nunito', sans-serif;
  padding: 2rem;
  text-align: justify;
}

main {
  padding: 1em 0 0 0;
  margin: 1em 1em 3em 1rem;
  background-color: white;
  border-radius: 1rem;
}

#quemsomos, #depoimentos, #eventos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: justify;
  padding: 1em 0 0 0;
  border-radius: 1rem;

  /* border: 0.1em red solid; */
}

#galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: justify;
  background-color: white;

  padding: 1em 0 2em 0;
  margin: 0 2rem;

  /* border: 0.1em red solid; */
}

#galeria h3 {
  padding: 0 0 1em 0;
}

/* .photos {
  margin: 2em 0 0 0;
  display: flex;
  flex-direction: row;
  height: 30rem;
  width: 100%;
  overflow: auto;
} */

/* .photos {
  display: flex;
  flex-direction: row;
  gap: 0.3em 0.3rem;
  height: 30rem;
  width: 100%;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: proximity;
  scroll-snap-align: center;

  padding: 0 0 0 0;
  margin: 2em 0 0 0;
  border-radius: 1rem;
  border: 0.1em red solid;
} */

.container {
  margin: 1em auto 0 auto;
  position: relative;
  width: 70%;
  padding-bottom: 70%;
  height: 0;
  border-radius: 1rem;

  /* background-color: rgba(197, 73, 73, 0.9); */
  /* max-width: 1024px;
  max-height: 768px; */
  /* border: 1px solid; */
}

.slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.slide_img img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

#i1, #i2, #i3 {
  display: none;
}

.pre, .nxt {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  background: rgba(255, 194, 204, 0.6);
  z-index: 1;
  cursor: pointer;
  margin: 0.3rem;
}

.pre img, .nxt img {
  height: 50%;
  width: auto;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 25%;
  opacity: 0.6;
}

.pre {
  left: 0;
}

.nxt {
  right: 0;
}

.pre:hover, .nxt:hover {
  animation: scale 400ms ease forwards;
}

.nav {
  width: 100%;
  height: 2%;
  bottom: 8%;
  position: absolute;
  text-align: center;
  z-index: 1;
}

.dots {
  position: relative;
  bottom: 20%;
  width: 2%;
  height: 100%;
  margin: 0 0.3rem;
  border-radius: 50%;
  display: inline-block;
  background: rgba(255, 194, 204, 0.6);
}

.dots:hover {
  animation: scales 400ms ease forwards;
}

.slide_img {
  z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three {
  z-index: 1;
}

#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3 {
  background: #fff;
}

.contatos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  z-index: 2;

  max-width: 100%; /* ***ATENÇÃO*** */
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;

  background-color: #ff81ee;
  padding: 0.4rem;
  margin: 0 1em 0.4em 1rem;
  border-radius: 1rem;
}

button {
  /* padding: 0.01rem;
  border-radius: 0.05rem; */
  border: transparent;
  text-align: center;
  font-weight: bolder;
  background-color: transparent;
}

button:hover {
  animation: scales 400ms ease forwards;
  /* filter: drop-shadow(0 0 0.2rem #28782B); */
  filter: drop-shadow(0 0 0.1rem white);
}

@keyframes scales {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media (min-width: 700px) {
  header {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 350px) {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
  }
}

@media (max-width: 250px) {
  .contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
  }
}

/* @media (min-width: 700px) {
  .container {
    width: 70%;
    padding-bottom: 70%;
  }
} */


/* @media (min-width: 700px) {
  html {
    max-width: 1024px;
    align-items: center;
    /* justify-content: space-around;
} */